.header{
    background-color: rgb(28, 156, 156);
    display: flexbox;
    justify-content: space-between;
}

.objects{
    background-color: rgb(204, 210, 211);
    display:flexbox;
    justify-content:space-evenly;
    margin : 5px;
    padding : 10px;
}

.content{
    background-color: rgb(104, 18, 92);
    display: flexbox;
    justify-content: left;
    margin: 0px;
}

h2{
    color: rgb(94, 160, 199);
}

p{
    color: rgb(119, 199, 186);
}

ol{
    color: rgb(119, 199, 186);
}

.part2{
    background-color: rgb(146, 83, 11);
    margin: 0px;
}

